.main{
    max-width: 1200px;
    
    .card{
      width: 600px;
      margin: 30px auto 0 400px;
      box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
      border-radius: 5px;
      padding:  20px 20px;
      .text{
        
      }
    }
}