.main {
  max-width: 1200px;
  margin: 0 auto;
  .card {
    width: 650px;
    margin: 20px auto;
    box-shadow: 0 3px 6px rgba(8, 66, 255, 0.3);
    border-radius: 5px;
    padding: 20px 20px;
    .text {
      font-size: 16px;
      padding-bottom: 30px;
    }
    .sub-title {
      color: blue;
      font-size: 28px;
      padding-bottom: 5px;
    }
    .sub-tem {
      color: green;
      font-size: 18px;
      padding-bottom: 5px;
    }
  }
}
